html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #002233;
}

.header-name {
  color: #ffffff;
  font-family: "Montserrat", sans-serif !important;
}
.header-info {
  color: #ffffff;
  font-family: "Karla", sans-serif;
}

#about {
  background-color: #0066ff;
}
#projects {
  background-color: #002233;
}

#skills {
  background-color: #0066ff;
}

#gallery {
  background-color: #002233;
}

#contact {
  background-color: #0066ff;
}

section {
  padding-top: 5rem;
}

.brand-name {
  font-family: "Righteous", cursive;
}

.section-header,
.card-title,
.nav-font,
.projects-header {
  font-family: "Montserrat", sans-serif;
}

.content-words,
.contact-text,
.footer-text {
  font-family: "Karla", sans-serif;
}

.card-background {
  background-color: #0066ff;
}

.check-border {
  border: 5px solid black;
}

@media (max-width: 576px) {
  .content-text-sm {
    text-align: center !important;
  }

  .header-name {
    text-align: center !important;
  }

  .header-image {
    display: none;
  }
}

.gallery {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.project-image {
  transition: transform 0.2s;
}

.project-image:hover {
  transform: scale(1.1);
}

.nav-link:hover {
  color: #0088ff !important;
}

.cards-color {
  background-color: #0077ff;
}
