html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Custom ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #002233;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0850bd;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #002233;
}

.text-caption {
  color: #c3cdfe !important;
}

.about-text {
  color: #fff;
  font-size: 1.2rem;
  text-align: justify;
}

.navigation-bar {
  background-color: #002233;
}

.header-name {
  color: #ffffff;
  font-family: "Montserrat", sans-serif !important;
}
.header-info {
  color: #ffffff;
  font-family: "Karla", sans-serif;
}

#about {
  background-color: #0850bd;
}
#projects {
  background-color: #002233;
}

#skills {
  background-color: #0850bd;
}

#gallery {
  background-color: #002233;
}

#contact {
  background-color: #0850bd;
}

section {
  padding-top: 5rem;
}

.flex-projects {
  display: flex;
  flex-direction: row;
}

.brand-name {
  font-family: "Righteous", cursive;
}

.section-header,
.card-title,
.nav-font,
.projects-header {
  font-family: "Montserrat", sans-serif;
}

.content-words,
.contact-text,
.footer-text {
  font-family: "Karla", sans-serif;
}

.card-background {
  background-color: #0850bd;
}

.check-border {
  border: 5px solid black;
}

@media (max-width: 576px) {
  .header-name,
  .header-button,
  .content-text-sm {
    text-align: center !important;
  }

  .header-content-text-sm {
    text-align: center !important;
    font-size: 1.7rem;
  }

  .header-image {
    display: none;
  }

  .flex-projects {
    display: flex;
    flex-direction: column;
  }

  .first-child {
    order: 2;
  }

  .second-child {
    order: 1;
  }
}

.gallery {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.project-image {
  transition: transform 0.2s;
}

.project-image:hover {
  transform: scale(1.1);
}

.nav-link:hover {
  color: #0088ff !important;
}

.cards-color {
  background-color: #0850bd;
  border: none;
}
